div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

img {
    opacity: 0.5;
}


/*calc() is used to calculate the width of a <div> element*/
/*max() uses largest value from list of values as a property value*/
/*min()*/
#div1 {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px);
    border: 1px solid black;
    background-color: yellow;
    padding: 5px;
}




